<head>
  <link rel="stylesheet" type="text/css" href="/css/application.css" />
  <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
</head>

<body>
  <div class="container">
    <div id="login">
      <h1>Hello from A-Rang-A-Tang Surveys!</h1>

      <form action="/login" method="post">
        <label>User: </label>
        <input type="text" name="user_id">
        <label>Password: </label>
        <input type="password" name="user_pass">
        <input id="login" type="submit" value="Log In">
      </form>
    </div>

    <div id="sign_up">
      <h2> Sign-up if you haven't already! </h2>
      <form action="/signup" method="post">
        <input type="text" name="user_id" placeholder="Username"><br/><br/>
        <input type="password" name="user_pass" placeholder="Password"><br/><br/>
        <input id="sign_up" type="submit" value="Sign Up">
      </form>
    </div>

  </div>
</body>



